body {
    background: black;
}

/*--------------------Header--------------------*/


.logo {
    background: url("../dubstep.gif");
    width: 500px;
    height: 286px;
}


/*--------------------Footer--------------------*/

.social-links {
    padding-bottom: 15px;
}

.social-links li a i { 
    width: 32px;
    height: 32px;
    color: white;
    font-size: 20px;
}
